
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  padding: 0;

} 

body {
  margin: 0;
  font-family: Arial;
  background-image: url(../img/unnamed.jpeg);
}

.header{
    display: flex;
    justify-content: center;
    background-color: black;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 50px;
    font-size: 30px;
    position: fixed;
    z-index: 1000;
 top: 0px;
}
.header,p{
    margin-top: 0px;
    padding-top: px;
}


.row {
  display: flex; 
   /* justify-content: space-between;  */
   background-repeat: no-repeat;
   background-size: cover;
  flex-wrap: wrap;
   padding: 20px 20px 20px 20px;  
   /* margin-top: 20px;  */
 /* background-color: aqua; */
  max-width: 100%;
  max-height: 100%;
  /* background-image: url(../img/unnamed.jpeg); */
}


/* Create four equal columns that sits next to each other */
.column {
  height: 50vh;
  background-color:black;
  flex: 25%;
  max-width: 24%;
  margin-top: 20px;
   margin-left: 11px;
   position: relative;
   text-align: center;
   color: white;


}
.column:hover{
  background-color: #530500;
  color: white;
  transform: scale(0.98);
  
}

 .column img {
  width: 100%;
  height: 33vh;

} 
.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
}

.title{
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: lighter;
  
}

    .icons{
      display: flex;
      justify-content: space-between;
      margin-left: 20px;
      margin-right: 20px;
    }

    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100vh; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
      background-color: #be1c1c;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 60%;
    }
    
    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    .down{
      display: flex;
      justify-content: center;
    }
    .down img{
      margin-top: 20px;
      width: 80%;
    }
    .text{
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
 

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 1200px) {
  .column {
    flex: 33.33%;
    max-width: 32%;
  }
  .column img {
    width: 100%;
    height: 33vh;
  
  } 
}
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 48%;
  }
  .column img {
    width: 100%;
    height: 33vh;
  
  } 
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
    height: 60vh;
  }
  
  .title{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
  }
  .centered{
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    
    
  }
}
  
